/*
 *  USE THIS FILE TO SPECIFY YOUR PARAMETERS. ALLOWED PARAMETERS ARE AS FOLLOWS:
 *  ============================================================================
 *  data      : Path to where the input data is located (where fastq files are located).
 *  out       : Path to where the output should be directed (will be created if it does not exist).
 *  genome    : The whole genome sequence (fasta | fa | fna).
 *  genes     : The genome annotation file (gtf).
 *  help      : Print out help menu. Passed as "--help" to the "main.nf" script for detailed information
 *  mode      : 
 */

// SCLERODERMA ANALYSIS ON CLOUD
params {
    data       = null
    out        = null
    genome     = null
    genes      = null
    help       = null
    mode       = null
    from       = null
    pairedEnd  = null
    singleEnd  = null

    // WORKFLOW STEPS PARAMETERS
    trim       = "ILLUMINACLIP:TruSeq3-PE-2.fa:2:30:10:8:true TRAILING:28 MINLEN:40"
    
    // RESOURCES
    max_memory = 200.GB
    max_cpus   = 24
    max_time   = 24.h
}
