/*
 *  USE THIS FILE TO SPECIFY YOUR PARAMETERS. ALLOWED PARAMETERS ARE AS FOLLOWS:
 *  ============================================================================
 *  data      : Path to where the input data is located (where fastq files are located).
 *  filetype  : Extension of the input FASTQ files (fastq | fq | fastq.gz | fq.gz | fastq.bz2 | fq.bz2).
 *  out       : Path to where the output should be directed (will be created if it does not exist).
 *  genome    : The whole genome sequence (fasta | fa | fna).
 *  index     : Path to where the STAR index files are locaded.
 *  genes     : The genome annotation file (gtf).
 *  bind      : Paths to be passed onto the singularity image (Semi-colon separated).
 *  help      : Print out help menu. Passed as "--help" to the "main.nf" script for detailed information
 */
// params {
//     data      = "/spaces/phelelani/ssc_data/data_trimmed/compressed"
//     filetype  = "fastq.gz"
//     out       = "/home/phelelani/scleroderma_analysis/results/nf-rnaSeqCount-scleroderma"
//     genome    = "/home/phelelani/scleroderma_analysis/indexes/genome.fa"
//     index     = "/home/phelelani/scleroderma_analysis/indexes"
//     genes     = "/home/phelelani/scleroderma_analysis/indexes/genes.gtf" 
//     bind      = "/spaces/phelelani"
//     help      = null
// }

params {
    data      = "/dataE/albinism/fastq"
    filetype  = "fastq.gz"
    out       = "/home/phelelani/scleroderma_analysis/results/nf-rnaSeqCount-albinism"
    genome    = "/home/phelelani/scleroderma_analysis/indexes/genome.fa"
    index     = "/home/phelelani/scleroderma_analysis/indexes"
    genes     = "/home/phelelani/scleroderma_analysis/indexes/genes.gtf" 
    bind      = "/dataE/albinism/fastq"
    help      = null
}
