// Configuration File
manifest {
    author = 'Phelelani Mpangase'
    homePage = 'https://github.com/phelelani/nf-rnaSeqCount'
    description = 'rnaSeqCount pipeline'
    mainScript = 'main.nf'
    version = '0.2'
}


// CHECK INPUTS AND OUTPUTS:



//  FUNCTION TO ENSURE THAT RESOURCE REQUIREMENTS DON'T GO BEYOND A MAXIMUM LIMIT
def check_max(obj, type) {
    if(type == 'memory'){
        try {
            if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
            return params.max_memory as nextflow.util.MemoryUnit
            else
            return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if(type == 'time'){
        try {
            if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
            return params.max_time as nextflow.util.Duration
            else
            return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if(type == 'cpus'){
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}

// CHECK IF THE OUTPUT DIRECTORY HAS BEEN GIVEN, IF NOT, PLACE THEM IN THE CURRENT WORKING DIRECTORY.
// def checkPaths() {
//     if(params.out == null) {
//         out_dir = "$PWD/results_nf-rnaSeqCount"
//     } else{
//         out_dir = params.out
//     }
// }

// CHECK PATHS TO BIND
def checkPaths() {
    // MAIN USER INPUT ERRORS
    line="=".multiply(100)

    data_error = """
${line}
Oooh no!! Looks like there's a serious issue in your command! 
I do not recognise the \'--data ${params.data}\' option you have given me, or you have not given me any \'--data\' option at all!
Please provide a valid directory with you input FASTQ reads with the \'--data\' option to run the nf-rnaSeqCount workflow! 
${line}
"""
    
    genome_error = """
${line}
Oooh no!! Looks like there's a serious issue in your command! 
I do not recognise the \'--genome ${params.genome}\' option you have given me, or you have not given me any \'--genome\' option at all!
Please provide a valid FASTA file (.fasta or .fa) for your reference genome with the \'--genome\' option to run the nf-rnaSeqCount workflow! 
${line}
"""
    
    genes_error = """
${line}
Oooh no!! Looks like there's a serious issue in your command! 
I do not recognise the \'--genes ${params.genes}\' option you have given me, or you have not given me any \'--genes\' option at all!
Please provide a valid GTF annotation file (.gtf) for your reference genome with the \'--genes\' option to run the nf-rnaSeqCount workflow! 
${line}
"""
    
    mode_error = """
${line}
Oooh no!! Looks like there's an serious issue in your command! 
I do not recognise the \'--mode ${params.mode}\' option you have given me, or you have not given me any \'--mode\' option at all!
The allowed options for \'--mode\' are:
\tprep.Containers\t\t: For downloading Singularity containers used in this workflow.
\tprep.STARIndex\t\t: For indexing your reference genome using STAR.
\tprep.BowtieIndex\t: For indexing your reference genome using Bowtie2.
\trun.ReadQC\t\t: For performing general QC on your reads using FastQC. 
\trun.ReadTrimming\t: For trimming low quality bases and removing adapters from your reads using Trimmmomatic.
\trun.ReadAlignment\t: For aligning your reads to your reference genome using STAR.
\trun.ReadCounting\t: For counting features in your reads using HTSeq-count and featureCounts.
\trun.MultiQC\t\t: For getting a summary of QC through the analysis using MultiQC.
\nPlease use one of the above options with \'--mode\' to run the nf-rnaSeqCount workflow!
${line}
"""
    
    from_error = """
${line}
Oooh no!! Looks like there's an serious issue in your command! 
I do not recognise the \'--from ${params.from}\' option you have given me!
The allowed options for \'--from\' are:
\trun.ReadQC\t\t: To resume from the QC step.
\trun.ReadTrimming\t: To resume from the trimming step.
\nPlease use one of the above options with \'--from\' to run the nf-rnaSeqCount workflow!
${line}
"""
    
    // USER PARAMETER INPUT: DATA DIRECTORY
    if (params.data == null) {
        exit 1, "$data_error"
    } else{
        data_dir = new File("${params.data}")
    }

    // USER PARAMETER INPUT: OUTPUT DIRECTORY
    if(params.out == null) {
        out_dir = new File("${PWD}/results_nf-rnaSeqCount")
    } else{
        out_dir = new File("${params.out}")
    }

    // USER PARAMETER INPUT: GENOME FASTA FILE
    if(params.genome == null) {
        exit 1, "$genome_error"
    } else{
        genome = new File("${params.genome}").getParent()
    }
    
    // USER PARAMETER INPUT: GENOME ANNOTATION FILE (GFT/GFF)
    if(params.genes == null) {
        exit 1, "$genes_error"
    } else{
        genes = new File("${params.genes}").getParent()
    }
    
    // data = params.data
    // genome = new File("${params.genome}").getParent()
    // genes = new File("${params.genes}").getParent()
    bind_paths  = [out_dir, data, genome, genes].unique().collect { it -> "-B ${it}"}.join(" ").toString()
    return bind_paths, out_dir
}

// SINGULARITY OPTIONS
def singularityOptions() {
    singularity {
        enabled = true
        cacheDir = "$PWD/containers"
        runOptions = "$bind_paths" + " --cleanenv"
        autoMounts = true
    }
}

// PIPELINE TRACING, VISUALIZATION AND HELP
def pipelineHelp() {
    if(params.help || params.mode == null) {
    } else if(params.mode in ['run.ReadQC','run.ReadTrimming','run.ReadAlignment','run.ReadCounting','run.MultiQC']) {
        trace {
            enabled = true
            file = "${out_dir}/workflow-tracing/nf-rnaSeqCount_${params.mode}_trace.txt"
        }
        timeline {
            enabled = true
            file = "${out_dir}/workflow-tracing/nf-rnaSeqCount_${params.mode}_timeline.html"
        }
        report {
            enabled = true
            file = "${out_dir}/workflow-tracing/nf-rnaSeqCount_${params.mode}_report.html"
        }
        dag {
            enabled = true
            file = "${out_dir}/workflow-tracing/nf-rnaSeqCount.dot"
        }
    } else{}
}

// ALL PROCESSESS SETTINGS
process {
    // ALL PROCESSES
    cache = true
    stageInMode = 'symlink'
    stageOutMode = 'rsync'
    scratch = 'false'

    // SPECIAL RESOURCE REQUIREMENTS
    withLabel: 'mini' {
        cpus = { check_max( 1 * task.attempt, 'cpus' ) }
        memory = { check_max( 2.GB * task.attempt, 'memory' ) }
        time = { check_max( 4.h * task.attempt, 'time' ) }
    }   
    withLabel: 'midi' {
        cpus = { check_max( 12 * task.attempt, 'cpus' ) }
        memory = { check_max( 24.GB * task.attempt, 'memory' ) }
        time = { check_max( 24.h * task.attempt, 'time' ) }        
    }   
    withLabel: 'maxi' {
        cpus = { check_max( 24 * task.attempt, 'cpus' ) }
        memory = { check_max( 48.GB * task.attempt, 'memory' ) }
        time = { check_max( 48.h * task.attempt, 'time' ) }
    }
    // CONTAINERS
    withName:run_GenerateSTARIndex {
        container = "$PWD/containers/nf-rnaSeqCount-star.sif"
    }
    withName:run_GenerateBowtie2Index {
        container = "$PWD/containers/nf-rnaSeqCount-trinity.sif"
    }
    withName:run_QualityChecks {
        container = "$PWD/containers/nf-rnaSeqCount-fastqc.sif"
    }
    withName:run_ReadTrimming {
        container = "$PWD/containers/nf-rnaSeqCount-trimmomatic.sif"
    }
    withName:run_STAR {
        container = "$PWD/containers/nf-rnaSeqCount-star.sif"
    }
    withName:run_HTSeqCount {
        container = "$PWD/containers/nf-rnaSeqCount-htseqcount.sif"
    }
    withName:run_FeatureCounts {
        container = "$PWD/containers/nf-rnaSeqCount-featurecounts.sif"
    }
    withName:run_MultiQC {
        container = "$PWD/containers/nf-rnaSeqCount-multiqc.sif"
    }
}

// PROFILES AND PROCESS OPTIONS
profiles {
    // MAIN PIPELINE PROFILES
    standard {
        executor = 'local'
        //includeConfig "$baseDir/main.config"
        checkPaths()
        // checkOutPath()
        // checkBindPaths()
        singularityOptions()
        pipelineHelp()
    }
    slurm {
        executor = 'slurm'
        queue = 'batch'
        checkPaths()
        //includeConfig "$baseDir/main.config"
        // checkOutPath()
        // checkBindPaths()
        singularityOptions()
        pipelineHelp()
    }
}

// cloud {
//     imageId = "ami-4b7daa32"
//     instanceType = "m4.10xlarge"
//     sharedStorageId   = "null"
//     sharedStorageMount = "/mnt/shared"
//     subnetId = "subnet-b720b2c1"
//     bootStorageSize = "1000GB"
//     autoscale {
//         enabled = true
//         minInstances = 1
//         maxInstances = 5
//         terminateWhenIdle = true
//         instanceType = "m4.10xlarge"
//     }
// }
// batch {
//     includeConfig "$baseDir/aws.config"
//     workDir = 's3://nf-scleroderma' 
//     process.executor = 'awsbatch'
//     process.queue = 'test'
//     pipelineContainers()
//     singularityOptions()
//     pipelineHelp()
//     executor.awscli = '/usr/bin/aws'
//     aws.region = 'eu-west-1'
// }
// trace {
//     enabled = true
//     file = "$baseDir/report_prepare/${params.mode}_trace.txt"
// }
// timeline {
//     enabled = true
//     file = "$baseDir/report_prepare/${params.mode}_timeline.html"
// }
// report {
//     enabled = true
//     file = "$baseDir/report_prepare/${params.mode}_report.html"
// }

