// Config variables
params.out         = '/spaces/phelelani/ssc_data/nf-rnaSeqCount'
params.bind        = '/global/;/spaces/'

out_path           = params.out
bind               = params.bind.split(';')
bind_paths         = bind.collect { entry ->  "--bind $entry:$entry" } .join(' ')

// Process options
process {
    cache         = true
    executor      = 'pbs'
    queue         = 'batch'
    stageInMode   = 'symlink'
    stageOutMode  = 'rsync'
}

// Process containers
process.$runSTAR_process.container          = 'containers/phelelani-nf-rnaSeqCount-master-star.simg'
process.$runHTSeqCount_process.container    = 'containers/phelelani-nf-rnaSeqCount-master-htseqcount.simg'
process.$runFeatureCounts_process.container = 'containers/phelelani-nf-rnaSeqCount-master-featurecounts.simg'
process.$runMultiQC_process.container       = 'containers/phelelani-nf-rnaSeqCount-master-multiqc.simg'

// Singularity options
singularity {
    enabled      = true
    cacheDir     = 'containers'
    runOptions   = "${bind_paths} --cleanenv"
    autoMounts   = false
}

// Pipeline tracing & visualization
trace {
    enabled     = true
    file        = "${out_path}/report_workflow/nf-rnaSeqCount_trace.txt"
}
timeline {
    enabled     = true
    file        = "${out_path}/report_workflow/nf-rnaSeqCount_timeline.html"
}
report {
    enabled     = true
    file        = "${out_path}/report_workflow/nf-rnaSeqCount_report.html"
}
dag {
    enabled     = true
    file        = "${out_path}/report_workflow/nf-rnaSeqCount.dot"
}
