process {
    cache = true
    executor = 'pbs'
    queue = 'batch'
    stageInMode = 'symlink'
    stageOutMode = 'rsync'
}
process.$runSTAR_process.container = 'containers/phelelani-rnaSeqCount-master-star.simg'
process.$runHTSeqCount_process.container = 'containers/phelelani-rnaSeqCount-master-htseqcount.simg'
process.$runFeatureCounts_proces.container = 'containers/phelelani-rnaSeqCount-master-featurecounts.simg'
singularity {
    enabled = true
    cacheDir = 'containers'
    runOptions = '--bind /global:/global --bind /spaces:/spaces'
    autoMounts = true
}
